body {
  background-color: #fca311;
  color: #e5e5e5;
}
.wrapper {
  width: 30%;
  height: 100%;
  margin: 0 auto;
  background-color: #000000;
}
/* .header--image-wrapper {
  height: 20vh;
} */
.header img {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 40vw;
  max-width: 100%;
}
.header h2 {
  text-align: center;
  margin: 0.8rem 0 0 0;
}
.header h3 {
  color: #fca311;
  text-align: center;
  font-weight: normal;
  margin: 0.3rem 0rem 1rem 0;
  font-size: 1rem;
}
/* Main styles
--------------*/
.main {
  display: flex;
  justify-content: center;
}
.main--email {
  width: 40%;
  padding: 0.8rem;
  background-color: white;
  background-image: url("./images/email.png");
  background-size: 1.7rem;
  background-repeat: no-repeat;
  background-position: 10% center;
  border-radius: 5px;
  border: none;
  margin: 0.5rem;
}
.main--linkedin {
  width: 40%;
  padding: 0.4rem 0.8rem;
  background-color: white;
  background-image: url("./images/linkedIn.png");
  background-size: 1.7rem;
  background-repeat: no-repeat;
  background-position: 10% center;

  border-radius: 5px;
  border: none;
  margin: 0.5rem;
}
.main--email:hover,
.main--linkedin:hover {
  cursor: pointer;
}
.details {
  padding: 1rem;
  line-height: 1.5;
}
.details--about,
.details--interests {
  margin: 0 0 0.5rem;
}
.details > p {
  font-weight: 300;
  margin: 0 0 1.6rem;
}
.details > p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width=1600px) {
  .header img {
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 40vw;
    max-width: 100%;
  }
}
